.kaufman__triangle {
  background-image: url("../../../images/kaufman-triangle.svg");
  display: flex;
  position: absolute;
  background-size: contain;
  top: 0;
  width: 877px;
  height: 877px;
  right: -210px;
  z-index: 0;
}
